<p>
  <strong>Name:</strong>
  <%= @service_type.name %>
</p>
<% if can? :edit, ServiceType %>
  <%= link_to 'Edit', edit_service_type_path(@service_type) %> |
<% end %>
<%= link_to 'Back', service_types_path %>
